<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="ca.mt.gore.PreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.lsp4e.preferences"
            id="ca.mt.gore.gopls"
            class="ca.mt.gore.ui.GoplsPreferencePage"
            name="Gopls">
      </page>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="org.golang"
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="go"
            name="Golang"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-names="go.mod,go.sum"
            id="org.golang.gomod"
            name="Go.mod"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <contentTypeMapping
            contentType="org.golang"
            id="ca.mt.gore.server"
            languageId="go">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.golang.gomod"
            id="ca.mt.gore.server"
            languageId="go">
      </contentTypeMapping>
      <server
            class="ca.mt.gore.GoServer"
            id="ca.mt.gore.server"
            label="Go Language Server (Gopls)">
      </server>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.golang">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.golang"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="syntaxes/Go.tmLanguage"
            scopeName="source.go">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.golang"
            scopeName="source.go">
      </scopeNameContentTypeBinding>
      <grammar
            path="syntaxes/HTML (Go).tmLanguage"
            scopeName="text.html.go">
      </grammar>
      <injection scopeName="text.html.go" injectTo="source.go"/>
   </extension>
   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="org.golang"
            path="conf/language-configuration.json">
      </languageConfiguration>
   </extension>
</plugin>
